* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #201f1f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu{
    width: 900px;
    margin: 0 auto;
}

header {
    background: #0a141d;
    min-width: 100%;
    clear:both;
    content: '';
}

header img {
    width: 100px;
    height: 75px;
    float:inline-start;
    padding: 9px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 25px;
    padding: 25px;
    float:left;
    position: relative;

}

nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

a h1{
    text-align: center;
    padding: 25px;

}

h2 {
    color:aliceblue;
    padding: 25px;

}

input {
    background-color: rgb(38, 20, 197);
    padding: 12px;
    width: 75%;
    height: 100%;
    margin-top: 45px;
}

button {
    padding: 7px;
    font-style: italic;
    background-color: rgb(12, 56, 202);
    color: #fff;
    display: grid;
    margin: 6em auto;
}


.pie-pagina {
    display:grid;
    margin: auto;
    padding: 5%;
    width: 100%;
    background-color: #0a141d;

}

.pie-pagina .grupo1{
    min-width: 100px;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding-left:900px;
}
.pie-pagina .box p{
    color:#fff;
    margin-bottom: 20px;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    height: 25px;
    text-align:center;

}

@media screen and (min-width:320px){
    header {
        background: #0a141d;
        width: 1000px;
        clear:both;
        content: '';
    }
        .pie-pagina {
        margin: auto;
        padding: 5%;
        min-width: 1050px;
        background-color: #0a141d;
    
    }
}




main img {
    width: 550px;
    height: 400px;
    padding: 15px;

}
